/* колір заголовків #212121
колір тексту  #757575;
основний колір логотипу #2196F3
хедер другорядний колір логотипу #000000
 футер другорядний колір логотипу та колір герою #FFFFFF
 колір в тег адресс rgba(255, 255, 255, 0.6)
 */
 :root{
    --prim-text-color: #757575;
    --prime-logo-color: #2196F3;
    --secondary-logo-color: #000000;
/* body */
 }
 .body-phrasing {
    color: var --prim-text-color;
 }
 /* логотип */
 .logo {
color: var(--prime-logo-color);
 }

 .logo>span {
   color: var(--secondary-logo-color);
 }

 .logo:hover,
 .logo:focus {
   color: var(--prime-logo-color);
 }

 .logo span:hover,
 .logo span:focus {
    color: var(--prime-logo-color);
 }
 /* навігація */
 